<a href="https://colab.research.google.com/github/skrofman/Applied-Machine-Learning/blob/master/DATA_310_Lecture_27_Spring_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA 310 Lecture 27 - Spring 2021

Good read about optimization algorithms:

https://towardsdatascience.com/a-visual-explanation-of-gradient-descent-methods-momentum-adagrad-rmsprop-adam-f898b102325c

## Example of Artificial Neural Network (based on SKLearn library)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import StandardScaler

ccdb = pd.read_csv("drive/MyDrive/Data Sets/UCI_Credit_Card.csv")
#ccdb.transpose()

X = ccdb.drop("default.payment.next.month",axis=1)
y = ccdb["default.payment.next.month"]

In [ ]:
X.head()

   ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0   1    20000.0    2          2  ...       0.0       0.0       0.0       0.0
1   2   120000.0    2          2  ...    1000.0    1000.0       0.0    2000.0
2   3    90000.0    2          2  ...    1000.0    1000.0    1000.0    5000.0
3   4    50000.0    2          2  ...    1200.0    1100.0    1069.0    1000.0
4   5    50000.0    1          2  ...   10000.0    9000.0     689.0     679.0

[5 rows x 24 columns]

In [ ]:
X_train, X_test, y_train, y_test = tts(X,y,test_size = 0.25, random_state=1693)

scale_X = StandardScaler()
X_train = scale_X.fit_transform(X_train)
X_test  = scale_X.transform(X_test)

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix

In [ ]:
mlp  = MLPClassifier(hidden_layer_sizes=(16,16,16),max_iter=500)

mlp.fit(X_train,y_train)
pred = mlp.predict(X_test)
pred

array([0, 0, 0, ..., 1, 0, 0])

In [ ]:
spc = ['No Default','Default']
cm = confusion_matrix(y_test,pred)
pd.DataFrame(cm, columns=spc, index=spc)

            No Default  Default
No Default        5492      370
Default           1053      585

In [ ]:
updated_mlp = MLPClassifier(hidden_layer_sizes=(64,32,32),
                            activation="relu",
                            solver="sgd",
                            batch_size=200,
                            learning_rate="adaptive",
                            max_iter=500,
                            verbose=True)

updated_mlp.fit(X_train,y_train)

In [ ]:
pred = updated_mlp.predict(X_test)

In [ ]:
spc = ['No Default','Default']
cm = confusion_matrix(y_test,pred)
pd.DataFrame(cm, columns=spc, index=spc)

            No Default  Default
No Default        5509      353
Default           1090      548